language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
before script:
  env: FLASK_ENV='TESTING'
script:
  - python -m pytest --cov
after_success:
  - coveralls
notifications:
  email:
    recipients:
      - mikeanguandia@yahoo.com
